html,body {
	height: 100%;
}

.gis-area {
	width: 100%;
	height: 100%;
	margin: 0 auto; 
	overflow: auto; 
	display: inline-block;
	overflow: hidden;
	vertical-align:top;
}

.region-left-side {
	width: 50px; 
	height: 100%;
	float: left;
	position: absolute;
	background-color: dimgray;
	overflow: hidden;
}

.region-left {
	margin-left: 50px;
	width: 290px; 
	height: 100%;
	border: solid #CDCDCD;
	border-width: 0px 1px 1px 0px;
	position: absolute;
	overflow: hidden;
}

#region-left-ul li {
	display: inline-block;
	vertical-align: top;
}

.region-right {
	margin-left: 340px;
	height: 100%;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	overflow: hidden;
	background: #F4F2EF;
}

.factory-filter {
	margin-top: 0px;
	width: 100%;
	height: 60px;
}

#factory-filter-icon {
	width: 20px;
	height: 30px;
	margin: 0px 0px 0px 15px;
	background-position: 0px 10px;
	background-size: 20px 20px;
	background-image:url("../image/factories-filter.png");
	background-repeat: no-repeat;
}

.factory-filter-text {
	padding-top: 5px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 13px;
}

.factory-filter:hover {
	background-color: lightblue !important;
	cursor: pointer;
}

#edit-area button {
	margin:2px;
}

#edit-area {
	width: 100%;
	height: 55px;
	display: inline-block;
	border-bottom: 1px solid #CDCDCD;
}

#selected-area-text {
	margin: 6px;
	font-size: 13px;
	font-weight: bold;
}

#selected-filter-area {
	width: 100%;
	height: 30px;
	display: inline-block;
	background: #F2F2F2;
}

#main-object-types-area {
	height: 100px;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	display: inline-block;
}

.object-type {
	padding-top: 15px;
	height: 98px;
	overflow: hidden;
}

.object-type:hover {
	background-color: #F0F0F0 !important;
	cursor: pointer;
}

.object-type-icon {
	width: 38px;
	height: 38px;
	margin: 0px 10px 0px 10px;
	background-size: 38px 38px;
}

.object-type-text {
	margin: 5px 10px 0px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

#danger-type {
	background-image:url("../image/danger.png");
}

#video-type {
	background-image:url("../image/video.png");
}

#resource-type {
	background-image:url("../image/resource.png");
}

#harzadous-type {
	background-image:url("../image/harzadous.png");
}

#escaperoute-type {
	background-image:url("../image/escaperoute.png");
}

.detail-form {
  position: absolute;
  top: -210px;
  left: -138px;
  z-index: 100;
}

#danger-detail-form {
  width: 300px;
  height: 200px;
}


#video-detail-form {
  width: 300px;
  height: 200px;
}

#resource-detail-form {
  width: 300px;
  height: 200px;
}

#harzadous-detail-form {
  width: 300px;
  height: 200px;
}

#escaperoute-detail-form {
  width: 300px;
  height: 200px;
}

.object-detail-common {
	margin-left: 5px;
}

.video-area { 
	background-color: black; 
	width: 100%; 
	height: 150px;
}

.obj-img {
	height: 120px;
}

.object-img-area {
	background-color: lightgray; 
	text-align: center;
}

.obj-list-area {
	top: 205px;
	margin-top: 8px;
	overflow: auto;
	position: absolute;
	display: inline-block;
	bottom: 0;
	border-top: 1px SOLID #E5E4E2;
}

.obj-list {
}

.obj-in-list {
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 4px;
	width:288px;
	border-bottom: 1px SOLID #E5E4E2;
}

.obj-in-list:hover {
	background-color: #F0F0F0;
	cursor: pointer;
}

.obj-name-in-list {
	cursor: pointer;
}

.obj-item-in-list {
	display: inline-block;
}

.obj-img-in-list {
	width: 18px;
	height: 18px;
}

.obj-name-in-list {
	color: #2554C7;
	font-weight: normal;
	font-family: Arial;
	font-size: 13px;
	margin-left: 5px;
	width: 140px;
	height: 18px;
}

.obj-view-detail-in-list {
	color: #2554C7;
	font-weight: normal;
	font-family: Arial;
	font-size: 13px;
	margin-left: 5px;
    margin-top: 3px;
    margin-right: 3px;
	width: 35px;
	height: 18px;
    float: right;
}

.obj-view-detail-in-list:hover {
    cursor: pointer;
}

.status-summary-text {
  z-index: 100;
  position: absolute;
  color: #000080;
  font-size: 13px;
  font-weight: bold;
  left: 420px;
  top: 30px;
  width: 80px;
  display: inline-block;
  text-align: center;
}

.object-name-filter {
	margin-left: 2px;
	margin-right: 2px;
	width: 284px;
	height: 26px;
}

#object-name-filter-clear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.btn-in-obj-list:hover, 
.btn-in-obj-list:active, 
.btn-in-obj-list:focus {     
    outline: none;     
    outline-style: none;     
    outline-width: 0; 
    background: #FBB117 !important;
}

.btn-in-obj-list {
	height: 21px;
	margin-right: 0px;
	float: right;
	font-size: 12px;
	color: #FFF;
	background-color: #FBB117;
	border: none;
}

.filters-area {
	margin: 4px;
	display: inline-block;
}

.filters-area button {
	width: 72px;
	height: 26px;
    border: 1px SOLID #CDCDCD;
    margin-left: -1px;
	font-size: 13px;
	background: #F2F2F2;
}

.clear-text-filter-img {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

.filters-area table {
	display: none;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#btn-reset-filter:active, 
#btn-reset-filter:focus {     
    outline: 0;     
    outline-style: none;     
    outline-width: 0; 
}

.filter-list {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 105px;
    padding: 3px;
    border: 1px SOLID #CDCDCD;

    /* Styles */
    background: #F5F5F5;
    color: black;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: normal;
    font-size: 13px;
}

.filter-list:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent dimgray;    
}

.filter-list .dropdown {
	/* Size & position */
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;

    /* Styles */
    background: #fff;
    font-weight: normal;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    
    border: 1px SOLID #CDCDCD;
    z-index: 100;
    
    list-style: none;
}

.filter-list .dropdown li a {
    display: block;
    text-decoration: none;
    color: dimgray;
    padding: 4px 12px;
    font-size: 13px;
}

/* Hover state */
.filter-list .dropdown li:hover a {
    background: #F5F5F5;
}

/* Active state */
.filter-list.active .dropdown {
    opacity: 1;
    background-color: #fff;
    pointer-events: auto;
}

.filter-list.active:after {
    border-color: dimgray transparent;
    border-width: 5px 5px 0 5px ;
    margin-top: -3px;
}

/* No CSS3 support */
.no-opacity       .filter-list .dropdown,
.no-pointerevents .filter-list .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .filter-list.active .dropdown,
.no-pointerevents .filter-list.active .dropdown {
    display: block;
}

#filter-danger-type {
	margin-left: -1px;
}

.factory-filter-dialog {
	z-index: 100;
	border-radius: 0px;
}

#factory-filter-tree {
	font-size: 12px;
}

.ui-dialog.message-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.message-dialog .ui-widget-header {
    background: #b0de78;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.message-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

.ui-dialog.message-dialog button {
    width: 60px;
}

#event-description {
    margin: 0px;
    resize: none;
}
